<%= render '../views/dashboard/breadcrum' %>


<div id="perfil">

<h1>Equipo # <%= @team.id %></h1>


<div id="cuadro">
<h4 class="red upper">Proyecto</h4>
<% @team.projects.each do |project| %>



<p>
  <strong>Nombre proyecto:</strong>
  <%= project.nombre_proyecto %>
</p>


<td><%= link_to 'Ver Proyecto', project %></td> |

<br><br>
<% end %>

</div>


<div id="cuadro">
<h4 class="red upper">Representante</h4>
<% @team.capitans.each do |capitan| %>


<p>
  <strong>Nombre del Representante:</strong>
  <%= capitan.nombre %>
</p>

<td><%= link_to 'Ver Representante', capitan %></td> |


<br><br>
<% end %>

</div>


<div id="cuadro">
<h4 class="red upper">Equipo</h4>

<% @team.players.each do |player| %>


<p>
  <strong>Integrante # <%= player.id %>:</strong>
  <%= player.nombre %>
</p>

<% end %>
</div>
</div>



<div id="cuadro">
	<h4 class="red upper">Reto(s) por resolver definido(s)</h4>
<% @team.challenges.each do |challenge| %>

<p>
  <strong>Definicion:</strong>
  <%= challenge.definicion %>
  <%= link_to "Download Definicion", challenge.definicion.url %>
</p>

<p>
  <strong>Resumen:</strong>
  <%= challenge.resumen %>
  <%= link_to "Download Resumen", challenge.resumen.url %>
</p>

<p>
  <strong>Reto innovacion:</strong>
  <%= challenge.reto_innovacion %>
  <%= link_to "Download Reto de Innovación", challenge.reto_innovacion.url %>
</p>

<br><h5 class="red upper center">Calificación</h5>
<hr>
<% if challenge.first_reviews.present? %>
<h4>Número de calificaciones</h4>
<h5>Calificación promedio</h5>
<%= link_to 'New Review', new_challenge_first_review_path(challenge, @first_review), :class => "btn btn-info" %>

<% else %>

<%= link_to 'New Review', new_challenge_first_review_path(challenge, @first_review), :class => "btn btn-info" %>
<% end %>

<% end %>

</div>


<div id="cuadro">
	<h4 class="red upper">Concepto definido con ventajas competitivas</h4>

<% @team.advantages.each do |advantage| %>

<p>
  <strong>Boceto:</strong>
  <%= advantage.boceto %>
  <%= link_to "Download Boceto 1", advantage.boceto.url %>
</p>

<p>
  <strong>Infografia:</strong>
  <%= advantage.infografia %>
  <%= link_to "Download Infografía", advantage.infografia.url %>
</p>

<br><h5 class="red upper center">Calificación</h5>
<hr>
<% if advantage.second_reviews.present? %>
<h4>Número de calificaciones</h4>
<h5>Calificación promedio</h5>

<%= link_to 'New Review', new_advantage_second_review_path(advantage, @second_review), :class => "btn btn-info" %>

<% else %>
<%= link_to 'New Review', new_advantage_second_review_path(advantage, @second_review), :class => "btn btn-info" %>
<% end %>

<% end %>

</div>


<div id="cuadro">
	<h4 class="red upper">Concepto validado</h4>

<% @team.concepts.each do |concept| %>
<p>
  <strong>Entrevistas:</strong>
  <%= concept.entrevistas %>
  <%= link_to "Download Entrevistas", concept.entrevistas.url %>
</p>

<p>
  <strong>Propuesta:</strong>
  <%= concept.propuesta %>
  <%= link_to "Download Propuesta", concept.propuesta.url %>
</p>

<p>
  <strong>Boceto2:</strong>
  <%= concept.boceto2 %>
  <%= link_to "Download Boceto 2", concept.boceto2.url %>
</p>

<br><h5 class="red upper center">Calificación</h5>
<hr>
<% if concept.third_reviews.present? %>
<h4>Número de calificaciones</h4>
<h5>Calificación promedio</h5>

<%= link_to 'New Review', new_concept_third_review_path(concept, @third_review), :class => "btn btn-info" %>

<% else %>
<%= link_to 'New Review', new_concept_third_review_path(concept, @third_review), :class => "btn btn-info" %>
<% end %>


<% end %>
</div>


<div id="cuadro">
	<h4 class="red upper">Propuesta de valor final</h4>
<% @team.propositions.each do |proposition| %>

<p>
  <strong>Vpd:</strong>
  <%= proposition.vpd %>
  <%= link_to "Download Value proposition Design", proposition.vpd.url %>
</p>

<p>
  <strong>Video pitch:</strong>
  <%= proposition.video_pitch %>
</p>

<br><h5 class="red upper center">Calificación</h5>
<hr>
<% if proposition.fourth_reviews.present? %>
<h4>Número de calificaciones</h4>
<h5>Calificación promedio</h5>

<%= link_to 'New Review', new_proposition_fourth_review_path(proposition, @fourth_review), :class => "btn btn-info" %>

<% else %>
<%= link_to 'New Review', new_proposition_fourth_review_path(proposition, @fourth_review), :class => "btn btn-info" %>
<% end %>


<% end %>

</div>


<div id="cuadro">
	<h4 class="red upper">Prototipo</h4>

<% @team.prototypes.each do |prototype| %>

<p>
  <strong>Video pitch2:</strong>
  <%= prototype.video_pitch2 %>
</p>

<br><h5 class="red upper center">Calificación</h5>
<hr>
<% if prototype.fifth_reviews.present? %>
<h4>Número de calificaciones</h4>
<h5>Calificación promedio</h5>
<%= link_to 'New Review', new_prototype_fifth_review_path(prototype, @fifth_review), :class => "btn btn-info" %>
<% else %>
<%= link_to 'New Review', new_prototype_fifth_review_path(prototype, @fifth_review), :class => "btn btn-info" %>
<% end %>

<% end %>
</div>


<%= link_to 'Back', teams_path %>