<% @advantagea.each do |advantage| %>

<p>
  <strong>Proceso General:</strong>
  <%= advantage.boceto %>
  <%= link_to "Descargar Proceso General", advantage.boceto.url %>
</p>

<p>
  <strong>Prototipo Conceptual:</strong>
  <%= advantage.infografia %>
  <%= link_to "Descargar Prototipo Conceptual", advantage.infografia.url %>
</p>


<%= link_to 'Edit', edit_advantage_path(advantage) %> |



<% end %>