<ul>
	<li>
		<%= link_to "Inicio", dashboard_index_path %>
	</li>
	<li>
		<%= link_to "Capitán", dashboard_capitan_path %>
	</li>
	<li>
		<%= link_to "Equipo", dashboard_equipo_path %>
	</li>
	<li>
		<%= link_to "Mentor", dashboard_mentor_path %>
	</li>
	<li>
		<%= link_to "Proyecto", dashboard_proyecto_path %>
	</li>
	<li>
		<%= link_to "Reto", dashboard_reto_path %>
	</li>
	<li>
		<%= link_to "Ventajas Competitivas", dashboard_ventajas_competitivas_path %>
	</li>
	<li>
		<%= link_to "Concepto Validado", dashboard_concepto_validado_path %>
	</li>
	<li>
		<%= link_to "Propuesta de Valor", dashboard_propuesta_de_valor_path %>
	</li>
	<li>
		<%= link_to "Prototipado", dashboard_prototipado_path %>
	</li>
</ul>