<% if current_team.admin? %>

<div id="bread">
<div class="row">
<div class="col-md-12">
<ul>
		<%= link_to dashboard_index_path do %>
		<li class="<%= 'activo' if current_page?(dashboard_index_path) %> ">
		<span class="fa fa-home"></span>
			Inicio
		</li>
		<% end %>
		<%= link_to teams_path do %>
		<li class="<%= 'activo' if current_page?(teams_path) %> ">
		<span class="fa fa-users"></span>
			Equipos
		</li>
		<% end %>
</ul>
</div>
</div>
</div>


<% else %>

<div id="bread">
<div class="row">
<div class="col-md-12">
<ul>
		<%= link_to dashboard_index_path do %>
		<li class="<%= 'activo' if current_page?(dashboard_index_path) %> ">
		<span class="fa fa-home"></span>
			Inicio
		</li>
		<% end %>
		<%= link_to dashboard_capitan_path do %>
		<li class="<%= 'activo' if current_page?(dashboard_capitan_path) %> ">
		<span class="fa fa-user"></span>
			Representante
		</li>
		<% end %>
		<%= link_to  dashboard_equipo_path do %>
		<li class="<%= 'activo' if current_page?(dashboard_equipo_path) %> ">
		<span class="fa fa-users"></span>
			Equipo
		</li>
		<% end %>
		<%= link_to  dashboard_proyecto_path do %>
		<li class="<%= 'activo' if current_page?(dashboard_proyecto_path) %> ">
		<span class="fa fa-paper-plane"></span>
			Proyecto
		</li>
		<% end %>
		<%= link_to  dashboard_reto_path do %>
		<li class="<%= 'activo' if current_page?(dashboard_reto_path) %> ">
		<span class="fa fa-hand-paper-o"></span>
		Etapa 1
		</li>
		<% end %>

		<%= link_to  dashboard_ventajas_competitivas_path do %>
		<li class="<%= 'activo' if current_page?(dashboard_ventajas_competitivas_path) %> ">
		<span class="fa fa-bar-chart"></span>
		Etapa 2
		</li>
		<% end %>

		<%= link_to  dashboard_concepto_validado_path do %>
		<li class="<%= 'activo' if current_page?(dashboard_concepto_validado_path) %> ">
		<span class="fa fa-paperclip"></span>
		Etapa 3
		</li>
		<% end %>

		<%#= link_to  dashboard_propuesta_de_valor_path do %>
<!-- 		<li class="<%#= 'activo' if current_page?(dashboard_propuesta_de_valor_path) %> ">
		<span class="fa fa-file-text-o"></span>
			Etapa 4
		</li> -->
		<%# end %>
		
		<%#= link_to  dashboard_prototipado_path do %>
<!-- 		<li class="<%#= 'activo' if current_page?(dashboard_prototipado_path) %> ">
		<span class="fa fa-bolt"></span>
		Etapa 5
		</li> -->
		<%# end %>

</ul>
</div>
</div>
</div>

<% end %>



