<% @challengea.each do |challenge| %>

<p>
  <strong>Definición del cliente:</strong>
  <%= challenge.definicion %>
  <%= link_to "Descargar Definicion", challenge.definicion.url %>
</p>

<p>
  <strong>Resumen de insights:</strong>
  <%= challenge.resumen %>
  <%= link_to "Descargar Resumen", challenge.resumen.url %>
</p>

<p>
  <strong>Reto de innovación:</strong>
  <%= challenge.reto_innovacion %>
  <%= link_to "Descargar Reto de Innovación", challenge.reto_innovacion.url %>
</p>


<%= link_to 'Edit', edit_challenge_path(challenge) %> |


<% end %>