<% @concepta.each do |concept| %>

<p>
  <strong>Propuesta de Valor preliminar:</strong>
  <%= concept.entrevistas %>
  <%= link_to "Descargar Propuesta de Valor Preliminar", concept.entrevistas.url %>
</p>

<p>
  <strong>Análisis Competitivo:</strong>
  <%= concept.propuesta %>
  <%= link_to "Descargar Análisis Competitivo", concept.propuesta.url %>
</p>

<p>
  <strong>Ajustes al concepto:</strong>
  <%= concept.boceto2 %>
  <%= link_to "Descargar Ajustes al concepto", concept.boceto2.url %>
</p>



<%= link_to 'Edit', edit_concept_path(concept) %> |


<% end %>