<%= render 'breadcrum' %>

<h1>Validación de Concepto</h1>

<div id="textos">
<h4 class="red upper">1.-</h4> <h3>Identificar a los Early Adopters</h3>
<p>
	Para hacer validaciones en esta etapa del proyecto es necesario hacerlas con personas que estén dispuestas a dar retroalimentación sincera y útil. De nada sirve que les dé retroalimentación un familiar o un amigo que lo que haga es engañar diciendo que todo es perfecto. Hay que buscar siempre que estas validaciones se hagan con verdaderos usuarios y clientes.  <br><br>
 
Sin embargo, hay usuarios y clientes que están en mejores condiciones para dar retroalimentación en las distintas etapas de los proyectos. En las etapas muy tempranas es necesario buscar a los “Early Adopters”. Estos usuarios y clientes son personas que están dispuestos a probar soluciones que no están perfectamente desarrolladas, que saben que pueden fallar, y que además están en la mejor disposición para dar retroalimentación en aras de que el producto o servicio mejore. Dicho de otra forma, son personas que tienen el problema que se está buscando solucionar y que ya han buscado soluciones y estas soluciones no han logrado resolver el problema, por tanto están dispuestos a probar nuevas alternativas y dar retroalimentación. <br><br>
 
Es importante que tengan en cuenta que estos early adopters no son un “grupo” con características especiales, sino son individuos que deben identificar de manera personal.  <br><br>
 
Identifiquen, por lo menos, a 5 early adopters que puedan entrevistar e interactuar de distintas formas con ellos.  <br><br>

</p>

<h4 class="red upper">2.-</h4> <h3>Validar el concepto</h3>
<p>
	Como se ha mencionado anteriormente, es importante ir validando poco a poco los pasos que se van dando en el proyecto con ayuda de los clientes/usuarios para que no construyamos sobre aire sino sobre información validada que pueda servir como referencia para el futuro.  <br><br>
 
Antes, ya hicieron la validación del problema y del usuario con la generación de insights. Ahora, lo que buscamos es que validen el concepto. Saber si al usuario/cliente le hace sentido y percibe valor con esa idea. Para ello, haremos entrevistas mostrando el prototipo conceptual que elaboraste en la etapa anterior. Es importante que verifiques que el prototipo pueda explicarse lo más posible por sí mismo, por lo que si necesitan hacer algún ajuste al mismo, este es el momento.  <br><br>
 
Al hacer las entrevistas de validación de concepto, platiquen con las personas nuevamente acerca del problema, si han intentado encontrar soluciones a ese problema y sus experiencias ante ello. Luego, enseñen el prototipo y busquen cosas nuevas, descubran. En este momento no estamos buscando validar factibilidad tecnológica ni viabilidad de negocio; estamos buscando validar deseabilidad del usuario/cliente: ¿se le hace atractiva tu propuesta? ¿Estaría dispuesto a comprarla?  <br><br>
 
NOTA: tienen que estar abiertos y preparados para que los usuarios/clientes les digan la verdad, no lo que quieren escuchar. No sesguen las preguntas hacia ningún lado, dejen que sean sinceros y digan lo que piensan. Profundicen lo más posible. <br><br>
 
Para vaciar los aprendizajes de las entrevistas van a utilizar la herramienta “propuesta de valor preliminar”. <br><br>

<%= link_to "Descargar Propuesta de Valor preliminar", '/Value.pdf', class: "button button_red" %> <br> <br>

En esta herramienta irán vaciando sus aprendizajes en cuanto a las necesidades a cubrir, beneficios y expectativas de las soluciones, otras soluciones que hayan probado, sus inconformidades y los comentarios (positivos y negativos) que las personas les hayan dicho de su concepto. Es importante no poner impresiones personales, sino las cosas tal cual las digan las personas. Llenen el formato por cada entrevista que hagan y, al final, elaboren un formato de resumen con las cosas más significativas del resto.  <br><br>

</p>

<h4 class="red upper">3.-</h4> <h3>Análisis competitivo</h3>
<p>
	Algo importante que debieron aprender de las entrevistas son las otras soluciones que las personas tienen para resolver su problema. Ahora deberán investigar más acerca de esas soluciones. Utilicen la herramienta “Análisis competitivo” para vaciar los aprendizajes de su investigación. <br><br>

<%= link_to "Descargar herramienta Análisis Competitivo", '/analisis.pdf', class: "button button_red" %> <br> <br>

</p>

<h4 class="red upper">4.-</h4> <h3>Replanteamiento del concepto</h3>
<p>
	Lo más seguro es que para este momento, después de las entrevistas y la investigación de las alternativas de solución, hayan aprendido lo suficiente para evolucionar el concepto de solución que están proponiendo.  <br><br>
 
Es momento de evaluar si el concepto que se había propuesto es lo suficientemente bueno como para hacerle algunos ajustes, y con eso mantenerlo, o plantearse cambiar de concepto de solución de manera radical. Dependiendo la decisión que se tome será lo que ahora deben hacer. Algunos deberán regresar a la revisión de sus primeras ideas (cambio radical), otros quizá al planteamiento que se hizo en el Boceto de Idea o directamente al Océano Azul (ajustes).  <br><br>
 
Lo importante aquí es no tener miedo a redefinir lo que se había planteado. Lo normal es que las propuestas evolucionen varias veces hasta encontrar un concepto que le llame la atención al usuario lo suficiente como para seguir avanzando en el proceso. <br><br>

</p>

<br><br><br>

<h4 class="red center upper">¿Qué hay que entregar?</h4>
<hr>

<% if current_team.admin? %>
<% else %>
	<% if current_team.concepts.present? %>
		<%= render 'concepts' %>		
	<% else %>
		<%= render '../views/concepts/form' %>
	<% end %>
<% end %>