<%= render 'breadcrum' %>

<h1>Propuesta de Valor</h1>

<div id="textos">
<h4 class="red upper">1.-</h4> <h3>Diseño de la propuesta de valor</h3>
<p>
	Ahora que ya tienen un concepto de solución validado, conviene hacer un proceso que detalle en mayor medida los puntos en los que agregarán valor al cliente/usuario y no quede solamente en buenas intenciones, sino plasmado en algo que lo haga explícito. Para ello, utilizarán la herramienta “Lienzo de propuesta de valor”. <br><br>

<%= link_to "Descargar herramienta Lienzo de propuesta de valor", '/vpd.pdf', class: "button button_red" %> <br> <br>
 
Para utilizar esta herramienta deberán utilizar todo lo que ya conocen de su cliente. La primera parte que deben discutir para llenar es la parte derecha, la parte del cliente. Primero, dejen muy en claro cuáles son los deseos que está buscando obtener de una solución; después, cuáles son los miedos y/o frustraciones que ha tenido o que no quisiera tener con una solución; por último, cuáles son las necesidades mínimas e indispensables que se deben cubrir para que una solución sea considerada como una verdadera opción de compra. <br><br>
 
NOTA: es importante hacer explícita la diferencia entre necesidades y deseos. Las necesidades son esas cosas que son indispensables de cubrir, los deseos son cosas que podrían estar o no estar; al estar suman valor, pero al no estar no hacen que la solución deje de ser buena. <br><br>

Si deseas más información, te recomendamos este post: <br>
<%= link_to "Propuesta de Valor", "http://innovaciondisruptiva.blogspot.mx/2014/11/mi-homenaje-a-osterwalder-y-el-bmc.html", :target => "_blank", class: "button button_red" %> <br><br>
 
Una vez que tengan bien clara la parte del cliente hay que diseñar la parte de la propuesta de valor, que es el lado izquierdo de la herramienta. Para esto, deberán basarse en su concepto validado. <br><br>
 
Primero, deberán describir qué aspectos de su concepto atiende cada una de las necesidades plasmadas del lado derecho de la herramienta. Si su concepto no cubre alguna, es necesario pensar cómo podría hacerlo. Después, revisar cada uno de los deseos y decidir cuáles son los que van a cumplir y cómo van a hacerlo y, por último, evaluar cuáles de las preocupaciones van a eliminar y cómo se hará. Recuerden que los deseos y preocupaciones no son obligatorias, las necesidades sí. <br><br>
 
Con esto, deberán ser capaces de describir, en máximo un párrafo, de qué se trata su propuesta y dónde es que agrega valor a sus clientes. <br><br>

</p>

<h4 class="red upper">2.-</h4> <h3>Prototipado</h3>
<p>Ahora que tienen su propuesta de valor diseñada, por lo menos de manera conceptual, hay que validarla con clientes/usuarios. Para esto deben crear una herramienta visual que explique el concepto, haga explícitos aquellos lugares donde se agregan valor y los diferenciadores más importantes que se tienen con respecto a la oferta actual.  <br><br>
 
Este prototipo puede ser, nuevamente, una infografía, una presentación, un video, inclusive una “landing page”. Lo que a cada equipo le sirva más para comunicar su propuesta de valor. El prototipo “ideal” es aquel que puede explicarse por sí mismo, sin necesidad de explicación extra. <br><br>
</p>

<h4 class="red upper">3.-</h4> <h3>Validación</h3>
<p>
	Ahora, una vez que tienen su prototipo, tendrán que salir nuevamente a validar con clientes/usuarios. Hagan entrevistas que les den información para validar la propuesta que están haciendo. Busquen hacer estas entrevistas con Early Adopters, pero que no sean las mismas personas que lo hicieron antes.
</p>

<h4 class="red upper">4.-</h4> <h3>Análisis competitivo</h3>
<p>
	En este momento es necesario hacer una investigación seria de la oferta que existe en el mundo entero para resolver el reto planteado y no solamente quedarnos en lo que conocen nuestros Early Adopters. Por eso, investiga en línea y de otras fuentes si existe algún jugador importante que esté resolviendo el tema y cómo lo está haciendo. Si de las entrevistas salió una nueva alternativa de solución, habrá que investigarla de igual forma. Vacíen sus aprendizajes en el mismo formato que en la etapa anterior para nutrirlo.
</p>

<h4 class="red upper">5.-</h4> <h3>Ajustes y pivoteo</h3>
<p>
	Han hecho una nueva validación y, seguramente, han recibido información muy valiosa: aspectos que gustan, otros que no gustan; cosas que parecían necesarias y no lo son tanto o cosas que pensaban que eran accesorias y resulta que son necesidades básicas por cubrir. Tal vez les dieron nuevas ideas de atributos o características que no habían imaginado.  <br><br>	
 
Sea lo que sea, conviene evaluar si harán nuevamente ajustes a su propuesta. En esta etapa también es válido hacer cambios radicales, sin embargo, cuiden que, de hacerlos, hagan el proceso completo para no dar cosas por hecho. <br><br>	
 
Pueden usar cualquiera de las herramientas anteriores para los ajustes y ejercicios que consideren necesarios.  <br><br>	

</p>


<h4 class="red upper">6.-</h4> <h3>Pitch</h3>
<p>
	Ahora, con su propuesta de valor evolucionada gracias a los ajustes que hicieron después de la última validación, deben grabar un video explicándola.  <br>
 
El video debe contener a alguno de los participantes del equipo explicando el proceso completo del proyecto: <br>
1.- El problema que están solucionando.  <br><br>
2.- El reto de innovación planteado. <br><br>
3.- Quién es el usuario y, si son distintos, quién es el cliente. <br><br>
4.- Cuántos competidores relevantes hay en el mercado y de cuáles deberían preocuparse. <br><br>
5.- Su propuesta de valor. <br><br>
6.- Sus ventajas competitivas diferenciadoras frente a las otras propuestas en el mundo. <br><br>
7.- Qué beneficios le traerá a BROSE desarrollar este proyecto que están proponiendo. <br><br>

</p>

</div>

<br><br><br>

<h4 class="red center upper">¿Qué hay que entregar?</h4>
<hr>

<% if current_team.admin? %>
<% else %>
	<% if current_team.propositions.present? %>
		<%= render 'propositions' %>		
	<% else %>
		<%= render '../views/propositions/form' %>
	<% end %>
<% end %>