<%= render 'breadcrum' %>

<div id="textos">
<h4 class="red upper">1.-</h4> <h3>Entender a los usuarios</h3>
<p>El desarrollo de cualquier proyecto emprendedor o proyecto de innovación debe tener como fundamento <strong>resolver un problema o atacar una oportunidad relevante</strong> para un grupo concreto de personas. De no ser así, se corre el riesgo de generar proyectos que pretenden convertirse en soluciones que no resuelven nada y a nadie le importan. <br> <br>

El inicio de cualquier proyecto debe ser <strong>identificar un problema/oportunidad y a su dueño</strong>. Al momento de registrar su proyecto, tú y tu equipo ya decidieron un enfoque y una división. En esta etapa, lo que pretendemos es que entiendan mejor a los usuarios de la división que eligieron, para plantear soluciones que verdaderamente les <strong>aporten valor</strong>. <br> <br>

Primero deberán identificar a <strong>TODOS</strong> los actores que interactúan con el tema que eligieron. Hagan una pequeña lista que contenga a todas aquellas personas que tienen algo que ver con el enfoque y división. Después, hagan una breve descripción de los usuarios y los problemas/oportunidades relacionados con el proyecto. Para esto, descarguen la herramienta “Problema-oportunidad y usuario”. Lo que deben hacer con ella es generar un documento que contenga una descripción del problema/oportunidad y de quien es el dueño de esta situación. <br> <br>
<%= link_to "Descargar herramienta Problemas/Oportunidades y Usuario", '/Problema-oportunidad y usuario.pdf', class: "button button_red" %> <br> <br>

Una vez que hayan identificado a los usuarios y descrito brevemente sus problemas/oportunidades, elijan a los que consideren más relevantes (máximo 3). <br> <br>
</p>

<h4 class="red upper">2.-</h4> <h3>Entender la relevancia del problema/oportunidad
</h3>
<p>Como segundo paso, deben entender que <strong>no todos los problemas son verdaderos problemas o todas las oportunidades son verdaderas oportunidades</strong> para todos los usuarios. O sea, existen problemas que a nadie le importa que existan… ¡Lo que significa que a nadie le importa que desaparezcan! Por lo que, seguramente, nadie pagaría por que lo resuelvan. Lo mismo pasa con las oportunidades, <strong>no todas las oportunidades son relevantes para los usuarios.</strong> <br><br> 

En este segundo paso deben <strong>entender el problema, a su dueño y la relevancia que tenga (o no tenga) para él</strong>. Para ello, deberán vivir un proceso de interacción real con los usuarios que eligieron en el paso anterior. No es posible entender ningún problema desde el escritorio, hay que salir a la calle y vivir el problema como el usuario, pensar como él, sentir como él. <br><br> 

Para lograr esto deberán <strong>observarlo, entrevistarlo, ponerse en sus zapatos con ejercicios de empatía</strong>… Hacer lo que consideren necesario para entender si el problema/oportunidad es un problema/oportunidad real y relevante (ayúdate del archivo “Generación de insights”). <br><br> 

<%= link_to "Descargar herramienta Generación de insights", '/Convocatoria.pdf', class: "button button_red" %> <br> <br>

Con estas interacciones irán identificando algunas <strong>“señales”</strong>, son frases, imágenes, momentos, etc., que te ayuden a generar información real y útil. Después, deberán identificar las señales que parezcan más relevantes. Por último, deberán, con la suma de los aprendizajes, dar una calificación de relevancia del problema/oportunidad para cada usuario y elegir a uno para continuar. <br><br>

Posteriormente, conviene analizar, agrupar y unir las señales para, con la mezcla de algunas, generar “insights”. <strong>Los insights son frases de conocimiento nuevo que les permiten resumir tus aprendizajes</strong>. <br><br>

Para vaciar toda la información que vayan recopilando, utilicen la herramienta “Resumen de insights”. <br><br> 

<%= link_to "Descargar herramienta Resumen de insights", '/Insights.pdf', class: "button button_red" %> <br> <br>

Los insights, al final, les ayudarán a entender si el problema/oportunidad es relevante o no. Si es relevante, pueden avanzar al siguiente paso; si no, es buen momento para cambiar de enfoque y/o división y volver a hacer los pasos anteriores. <br><br>
</p>

<h4 class="red upper">3.-</h4> <h3>Definición de retos</h3>
<p>Una vez que hayan identificado (y validado) al problema, su dueño y su relevancia, es momento de que se planteen un <strong>reto de innovación</strong>. Los retos tienen contenido y estructura gramatical particulares. <br><br> 

<strong>Contenido del reto</strong>
Los retos de innovación son frases que plantean un problema, con dueño y contexto. Lo interesante del tema es que son frases que llaman a la acción y delimitan muy bien qué parte del problema se quiere resolver. <br><br> 

¿Cómo decidir a qué parte concreta del problema vas a enfocarte? Esto es resultado de los insights. Con la generación de insights entiendes mejor el problema/oportunidad y a su dueño: <strong>qué, cuándo, cómo, cuánto le duele al usuario.</strong>  <br><br>

<strong>Estructura gramatical</strong>
El reto se escribe en forma de pregunta y comienza con: <strong>¿Cómo podríamos…?</strong> Se escribe en plural porque buscarás resolverlo en equipo; se escribe en “condicional simple” porque implica dos cosas: <strong>es positivo y probable</strong>, o sea, invita al cerebro a pensar en que el reto efectivamente puede resolverse. <br><br>

La estructura completa es: 
<strong>¿Cómo podríamos + objetivo del reto + dueño del reto + contexto del reto...?</strong> <br><br>

Apóyate en la herramienta “Generación de retos” para escribir tu reto de innovación. <br><br>
<%= link_to "Descargar herramienta Generación de Retos", '/reto.pdf', class: "button button_red" %> <br> <br>
</p>

</div>

<br><br><br>

<h4 class="red center upper">¿Qué hay que entregar?</h4>
<hr>

<% if current_team.admin? %>
<% else %>
	<% if current_team.challenges.present? %>
		<%= render 'challenges' %>		
	<% else %>
		<%= render '../views/challenges/form' %>
	<% end %>
<% end %>