<%= render 'breadcrum' %>

<h1>Definición de Concepto</h1>


<div id="textos">
<h4 class="red upper">1.-</h4> <h3>Idear conceptos de solución</h3>
<p>Tener un reto de innovación bien definido es la puerta natural para generar soluciones que aporten verdadero valor donde los clientes y usuarios quieren/necesitan que su proyecto lo haga.  <br>
 
Para generar ideas de solución que puedan aportar valor es necesario pasar por un proceso bien definido. Es importante no detenerse en la primera idea que se nos ocurre, sino generar varias ideas para buscar resolver de distintas formas el reto.  <br>
 
Este proceso de ideación es importante porque ayuda a ampliar la visión e incrementar el número de posibles alternativas de solución, así incrementando las posibilidades de éxito del proyecto. <br>
 
Para la generación de ideas se propone que utilices una técnica llamada “lluvia de ideas”, puedes encontrar instrucciones más precisas en el archivo “Lluvia de ideas”. <br>

<%= link_to "Descargar herramienta Lluva de Ideas", '/lluvia_de_ideas.pdf', class: "button button_red" %> <br> <br>

Si no les gusta esta técnica de ideación, pueden utilizar la que mejor les convenga. <br>
 
Procuren generar la mayor cantidad de ideas posibles. Hablar de entre 10 y 15 ideas por miembro del equipo es un número considerablemente bueno. </p>


<h4 class="red upper">2.-</h4> <h3>Filtrar las ideas</h3>

<p>Después de haber realizado el ejercicio de ideación es necesario hacer un ejercicio de toma de decisiones. Lo que se busca es que escojan las 10 mejores ideas que hayan surgido del proceso de ideación. Para esto, pueden hacerlo a través de votaciones o el método que mejor les parezca. <br> 
 
En este momento lo que buscamos es elegir las ideas que al equipo en su conjunto más le ilusione hacer, todavía sin filtros como factibilidad o impacto. <br> </p>
 



<h4 class="red upper">3.-</h4> <h3>Priorización</h3>

<p>Una vez que ya tengan las 10 mejores ideas elegidas, hay que hacer un ejercicio de priorización. Para este ejercicio te proponemos que utilices la herramienta “Matriz de impacto-factibilidad”.  <br>


<%= link_to "Descargar herramienta Matriz Impacto - Factibilidad", '/impacto_factibilidad.pdf', class: "button button_red" %> <br> <br>

Para usar esta matriz, utiliza los siguientes pasos:  <br>
 
Filtro de impacto. Lo primero que debes hacer es filtrar por impacto. Al hacer esto, colocarás todas tus ideas del lado izquierdo de la matriz. El filtro, entonces consiste en el eje horizontal, lo que quede en el cuadrante de arriba a la izquierda, están diciendo que tendrá mucho impacto y, lo que quede en el cuadrante de abajo a la izquierda, será lo que tiene poco impacto. El impacto pueden definirlo como valor o beneficios que se generarán al llevar a cabo la solución. <br>
Filtro de factibilidad. Una vez que hayan filtrado sus 10 ideas por impacto, hay que hacerlo por factibilidad. Lo que hay que hacer es decidir, de los dos cuadrantes que ya tienen ideas, cuáles son más factibles. Con esto, se pasarán ideas del cuadrante de arriba a la izquierda al cuadrante de arriba a la derecha, y, las ideas de abajo a la izquierda pasarán a abajo a la derecha. La factibilidad pueden tomarla como aquellas ideas que sean capaces de desarrollar durante el tiempo que dura el programa de Idea Lab. <br>
 
Una vez hechos estos filtros, tendremos ideas en los cuatro cuadrantes: alto impacto y alta factibilidad, alto impacto y baja factibilidad, bajo impacto y alta factibilidad y bajo impacto y baja factibilidad. <br>
 
Este filtro deberá hacerse basado en la experiencia sin dejar que prejuicios sin sentido sesguen el ejercicio. De aquí saldrán posibles ideas que seguir desarrollando para el proyecto: las que estén en el cuadrante de alto impacto y alta factibilidad. Si del ejercicio salen más de 3 posibles ideas en este cuadrante, habrá que elegir solamente 3.  <br> </p>




<h4 class="red upper">4.-</h4> <h3>Concepto de solución</h3>

<p>
De las ideas (máximo 3) que hayan salido del ejercicio anterior, habrá que construir un concepto más definido. Para esto, hay que utilizar la herramienta “Boceto de idea”. <br><br>

<%= link_to "Descargar herramienta Boceto de Idea", '/boceto.pdf', class: "button button_red" %> <br> <br>


Este boceto lo que pretende es delimitar de manera muy sencilla el concepto con una descripción de lo que se busca lograr con su creación. Habrá que ir llenando el formato en el orden que está señalado: Reto, Cliente/usuario, alternativas existentes y propuesta de solución. Para esta etapa, hay que dejar fuera los diferenciadores porque los van a definir en el siguiente paso.

</p>


<h4 class="red upper">5.-</h4> <h3>Definición de diferenciadores</h3>

<p>

Cualquier proyecto de innovación debe estar centrado en la diferenciación. Hay que tener muy claro por qué la solución que están proponiendo es mejor a lo que existe actualmente. <br>
 
Para una definición clara de los diferenciadores utilicen la herramienta “Océano azul”. <br>


<%= link_to "Descargar herramienta Océano Azul", '/azul.pdf', class: "button button_red" %> <br> <br>

Esta herramienta les ayudará a imaginar, delimitar y definir en dónde pondrán la diferenciación. Deberán plantear los diferenciadores para las ideas que hayan trabajado en el paso anterior. <br>
 
Una vez que tengan planteados los diferenciadores hay que agregarlos al Boceto de idea para que quede todo en un mismo formato.

</p>


<h4 class="red upper">6.-</h4> <h3>Prototipo conceptual</h3>

<p>

Hasta el momento todo ha ido quedando claro para el equipo de manera interna, sin embargo, será necesario comunicarlo al exterior del equipo para validar el concepto de solución que están creando. <br>
 
Para esto tienen que hacer algo que les permita comunicar a la gente lo que están pensando. Puede ser una infografía, un video, una presentación… Lo que se les ocurra que mejor puede transmitir el sentido y valor que están queriendo construir. <br>
 
Lo que debe incluir este prototipo conceptual es toda la información que han generado hasta el momento (cliente/usuario, reto de innovación, conceptos de solución con diferenciadores) y el objetivo no es vender, será solamente comunicar la idea que se tiene para obtener retroalimentación. Esta validación la harán en la siguiente etapa. <br>

</p>


</div>

<br><br><br>

<h4 class="red center upper">¿Qué hay que entregar?</h4>
<hr>

<% if current_team.admin? %>
<% else %>
	<% if current_team.advantages.present? %>
		<%= render 'advantages' %>		
	<% else %>
		<%= render '../views/advantages/form' %>
	<% end %>
<% end %>