<%= form_for(@advantage) do |f| %>
  <% if @advantage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advantage.errors.count, "error") %> prohibited this advantage from being saved:</h2>

      <ul>
      <% @advantage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Proceso_general %><br>
    <h5>Subir un PDF, a modo de reporte, con 2 fotografías del resultado del proceso de ideación, 2 fotografías del resultado del proceso de filtrado, 2 fotografías del resultado del proceso de priorización y el contenido del boceto de idea. </h5>
    <%= (@advantage.boceto_url) if @advantage.boceto? %>
    <%= f.file_field :boceto %>
    <%= f.hidden_field :boceto_cache %>
  </div>

  <div class="field">
    <%= f.label :Protoripo_conceptual %><br>
    <h5>De la opción que hayan decidido hacer, subir un archivo: 1) la infografía, 2) la presentación, 3) un documento con el link al video en una plataforma como YouTube, 4) Otro</h5>
    <%= (@advantage.infografia_url) if @advantage.infografia? %>
    <%= f.file_field :infografia %>
    <%= f.hidden_field :boceto_cache %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
