<%= form_for(@advantage) do |f| %>
  <% if @advantage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advantage.errors.count, "error") %> prohibited this advantage from being saved:</h2>

      <ul>
      <% @advantage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :boceto %><br>
    <%= (@advantage.boceto_url) if @advantage.boceto? %>
    <%= f.file_field :boceto %>
    <%= f.hidden_field :boceto_cache %>
  </div>

  <div class="field">
    <%= f.label :infografia %><br>
    <%= (@advantage.infografia_url) if @advantage.infografia? %>
    <%= f.file_field :infografia %>
    <%= f.hidden_field :boceto_cache %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
