<p id="notice"><%= notice %></p>

<p>
  <strong>Boceto:</strong>
  <%= @advantage.boceto %>
</p>

<p>
  <strong>Infografia:</strong>
  <%= @advantage.infografia %>
</p>

<p>
  <strong>Team:</strong>
  <%= @advantage.team %>
</p>

<%= link_to 'Edit', edit_advantage_path(@advantage) %> |
<%= link_to 'Back', advantages_path %>
