<%= form_for(@prototype) do |f| %>
  <% if @prototype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prototype.errors.count, "error") %> prohibited this prototype from being saved:</h2>

      <ul>
      <% @prototype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Producto_mínimo_viable %><br>
    <%= f.file_field :PMV %>
    <%= f.hidden_field :PMV_cache %>
  </div>

  <div class="field">
    <%= f.label :Resumen_de_Proyecto %><br>
    <%= f.file_field :resumen2 %>
    <%= f.hidden_field :resumen2_cache %>
  </div>

  <div class="field">
    <%= f.label :video_pitch_final %><br>
    <%= f.url_field :video_pitch2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
