<p id="notice"><%= notice %></p>

<p>
  <strong>Video pitch2:</strong>
  <%= @prototype.video_pitch2 %>
</p>

<p>
  <strong>Team:</strong>
  <%= @prototype.team %>
</p>

<%= link_to 'Edit', edit_prototype_path(@prototype) %> |
<%= link_to 'Back', prototypes_path %>
