<%= form_for([@challenge, @challenge.first_reviews.build]) do |f| %>
  <% if @first_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@first_review.errors.count, "error") %> prohibited this first_review from being saved:</h2>

      <ul>
      <% @first_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, '¿Se ha logrado entender la problemática del cliente/usuario?' %><br>
    <%= f.number_field :q1 %>
  </div>
  <div class="field">
    <%= f.label :name, '¿El cliente y usuario están bien definidos y entendidos?' %><br>
    <%= f.number_field :q2 %>
  </div>
  <div class="field">
    <%= f.label :name, '¿Se encontraron insights significativos?' %><br>
    <%= f.number_field :q3 %>
  </div>
  <div class="field">
    <%= f.label :name, '¿El reto de innovación está basado en insights?' %><br>
    <%= f.number_field :q4 %>
  </div>
  <div class="field">
    <%= f.label :name, '¿El reto de innovación está escrito de manera correcta?' %><br>
    <%= f.number_field :q5 %>
  </div>
  <div class="field">
    <%= f.label :name, '¿El reto de innovación informa, inspira y llama a la acción?' %><br>
    <%= f.number_field :q6 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
