<%= form_for([@concept, @concept.third_reviews.build]) do |f| %>
  <% if @third_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@third_review.errors.count, "error") %> prohibited this third_review from being saved:</h2>

      <ul>
      <% @third_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '¿El concepto de solución sufrió ajustes significativos basados en retroalimentación verdadera?' %><br>
    
    <%= f.select :q10, [["El concepto de solución se ajustó basada en retroalimentación valiosa", 10], ["El concepto de solución se ajustó pero no basado en retroalimentación ", 5], ["El concepto de solución no sufrió ajustes", 1]]%>
  </div>
  <div class="field">
    <%= f.label :name, '¿Se tomó en cuenta el análisis competitivo a la hora de plantear los ajustes?' %><br>
    
    <%= f.select :q11, [["Los ajustes tomaron en cuenta el análisis competitivo", 10], ["Los ajustes no tomaron en cuenta el análisis competitivo", 1]]%>
  </div>
  <div class="field">
    <%= f.label :name, '¿La idea está plasmada de manera correcta en el Boceto?' %><br>
    
    <%= f.select :q12, [["El boceto de idea expresa de manera clara y contundente todos los campos", 10], ["El boceto de idea tiene deficiencias a la hora de comunicar", 5], ["El boceto de idea no comunica correctamente el proyecto", 1]]%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
