<%= form_for([@advantage, @advantage.second_reviews.build]) do |f| %>
  <% if @second_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@second_review.errors.count, "error") %> prohibited this second_review from being saved:</h2>

      <ul>
      <% @second_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '¿La solución tiene diferenciadores relevantes?' %><br>
    <%= f.select :q8, [["La solución tiene ventajas competitivas diferenciadoras evidentes y relevantes", 10], ["Las ventajas competitivas diferenciadoras no son tan relevantes", 5], ["La solución no tiene ventajas competitivas diferenciadoras", 1]]%>
  </div>
  <div class="field">
    <%= f.label :name, '¿El prototipo comunica de manera clara la solución y sus ventajas?' %><br>
    <%= f.select :q9, [["El prototipo comunica de manera clara la solución y sus ventajas", 10], ["El prototipo comunica medianamente la solución y/o sus ventajas", 5], ["El prototipo no comunica la solución y/o sus ventajas", 1]]%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
