<%= form_for([@prototype, @prototype.fifth_reviews.build]) do |f| %>
  <% if @fifth_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fifth_review.errors.count, "error") %> prohibited this fifth_review from being saved:</h2>

      <ul>
      <% @fifth_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '¿El prototipo cumple con los requisitos de funcionalidad?' %><br>
    <%= f.number_field :q16 %>
  </div>
  <div class="field">
    <%= f.label :name, '¿La validación aportó información relevante para pivoteos?' %><br>
    <%= f.number_field :q17 %>
  </div>
  <div class="field">
    <%= f.label :name, '¿El modelo de negocio está planteado para generar negocio?' %><br>
    <%= f.number_field :q18 %>
  </div>
  <div class="field">
    <%= f.label :name, '¿El modelo de negocio puede ser escalable?' %><br>
    <%= f.number_field :q19 %>
  </div>
  <div class="field">
    <%= f.label :name, '¿El pitch explica el modelo de negocio de forma clara?' %><br>
    <%= f.number_field :q20 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
