<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @fifth_review.team %>
</p>

<p>
  <strong>Prototype:</strong>
  <%= @fifth_review.prototype %>
</p>

<p>
  <strong>Q16:</strong>
  <%= @fifth_review.q16 %>
</p>

<p>
  <strong>Q17:</strong>
  <%= @fifth_review.q17 %>
</p>

<p>
  <strong>Q18:</strong>
  <%= @fifth_review.q18 %>
</p>

<p>
  <strong>Q19:</strong>
  <%= @fifth_review.q19 %>
</p>

<p>
  <strong>Q20:</strong>
  <%= @fifth_review.q20 %>
</p>

<%= link_to 'Edit', edit_fifth_review_path(@fifth_review) %> |
<%= link_to 'Back', fifth_reviews_path %>
