<%= form_for(@concept) do |f| %>
  <% if @concept.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concept.errors.count, "error") %> prohibited this concept from being saved:</h2>

      <ul>
      <% @concept.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entrevistas %><br>
    <%= (@concept.entrevistas_url) if @concept.entrevistas? %>
    <%= f.file_field :entrevistas %>
    <%= f.hidden_field :entrevistas_cache %>
  </div>

  <div class="field">
    <%= f.label :propuesta %><br>
    <%= (@concept.propuesta_url) if @concept.propuesta? %>
    <%= f.file_field :propuesta %>
    <%= f.hidden_field :propuesta_cache %>
  </div>

  <div class="field">
    <%= f.label :boceto2 %><br>
    <%= (@concept.boceto2_url) if @concept.boceto2? %>
    <%= f.file_field :boceto2 %>
    <%= f.hidden_field :boceto2_cache %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
