<p id="notice"><%= notice %></p>

<p>
  <strong>Entrevistas:</strong>
  <%= @concept.entrevistas %>
</p>

<p>
  <strong>Propuesta:</strong>
  <%= @concept.propuesta %>
</p>

<p>
  <strong>Boceto2:</strong>
  <%= @concept.boceto2 %>
</p>

<p>
  <strong>Team:</strong>
  <%= @concept.team %>
</p>

<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
