<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @fourth_review.team %>
</p>

<p>
  <strong>Proposition:</strong>
  <%= @fourth_review.proposition %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @fourth_review.q13 %>
</p>

<p>
  <strong>Q14:</strong>
  <%= @fourth_review.q14 %>
</p>

<p>
  <strong>Q15:</strong>
  <%= @fourth_review.q15 %>
</p>

<%= link_to 'Edit', edit_fourth_review_path(@fourth_review) %> |
<%= link_to 'Back', fourth_reviews_path %>
